.outsideBlueTableSmart
{
    min-width:267px;
    margin-top:10px;
    border:1px solid #dbdbdb;
    border-radius:3px;
    border-top:5px solid #9ec1dd;
    margin-top:10px;
    color:#9ec1dd;
}
.outsideRedTableSmart
{
    min-width:267px;
    margin-top:10px;
    border:1px solid #dbdbdb;
    border-radius:3px;
    border-top:5px solid #ff5655;
    margin-top:10px;
    color:#ff5655;
}
.outsideOrangeTableSmart
{
    min-width:267px;
    margin-top:10px;
    border:1px solid #dbdbdb;
    border-radius:3px;
    border-top:5px solid #eeb844;
    margin-top:10px;
    color:#eeb844;
}
.divTitleTableSmart
{
    width:100%;
    height:23px;
    background:#f4f4f4;
    padding-top:2px;
}
.divTableSmartTable
{
    width:100%;
    overflow-y:auto;
    text-align:center;
    font-size: 14px;
    color:black;
    border-top:1px solid #E0E0E0;
}
.StateTardiness
{
    color:#da5451;
}
.StateExpire
{
    color:#efad4c;
}
#textTitle
{
    margin-left:10px;
    font-family:'Microsoft YaHei';
    font-size:15px;
}
#TableSmartTable th
{
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Microsoft YaHei;
}
#TableSmartTable td
{
    padding-top: 8px;
    padding-bottom: 5px;
    border-top: 1px solid #e0e0e0;
    font-family: Microsoft YaHei;
}
#MoreTableSmart
{
    float:right;
    margin-right:5px;
    color:#999;
    text-decoration:none;
    font-size:13px;
    font-family:'Microsoft YaHei';
}
.fontRed
{
    color:#ff5655;
}