.outsideBlueTODO
{
    border:1px solid #dbdbdb;
    border-radius:3px;
    border-top:5px solid #9ec1dd;
    margin-top:10px;
    color:#9ec1dd;
}
.outsideGreenTODO
{
    border:1px solid #dbdbdb;
    border-radius:3px;
    border-top:5px solid #5bb95b;
    margin-top:10px;
    color:#5bb95b;
}
.outsideRedTODO
{
    border:1px solid #dbdbdb;
    border-radius:3px;
    border-top:5px solid #9ec1dd;
    margin-top:10px;
    color:#9ec1dd;
}
.divTitleTODO
{
    width:inherit;
    height:23px;
    background:#f4f4f4;
    padding-top:2px;
}
.divTable
{
    width:inherit;
    min-width:530px;
    overflow-y:auto;
    text-align:center;
    font-size: 14px;
    color:black;
}
.StateTardiness
{
    color:#da5451;
}
.StateExpire
{
    color:#efad4c;
}
#textTitle
{
    margin-left:10px;
    font-family:Microsoft YaHei;
    font-size:18px;
}
#TodoTable
{
    border-top: 1px solid #e0e0e0;
}
#TodoTable th
{
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Microsoft YaHei;
}
#TodoTable td
{
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Microsoft YaHei;
    border-top: 1px solid #e0e0e0;
}
#MoreTODO
{
    float:right;
    margin-right:5px;
    color:#999;
    text-decoration:none;
    font-size:13px;
    font-family:'Microsoft YaHei';
}